<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>DTOXX</title>
  <meta name="author" content="DTOXX" />
  <meta name="description" content="" />
  <meta name="keywords"  content="" />
  <meta name="Resource-type" content="Document" />
     <link rel="stylesheet" href="css/style.css">
          <link href='http://fonts.googleapis.com/css?family=Ubuntu+Condensed' rel='stylesheet' type='text/css'>
      <script src="http://s.codepen.io/assets/libs/modernizr.js" type="text/javascript"></script>
  <link rel="stylesheet" type="text/css" href="css/javascript.fullPage.css" />
     <link rel="stylesheet" type="text/css" href="css/bootstrap.css" /> 
  <link rel="stylesheet" type="text/css" href="css/PineApp.css" />

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <style>
    /* Reset CSS
     * --------------------------------------- */
    body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,
    form,fieldset,input,textarea,p,blockquote,th,td {
        padding: 0;
        margin: 0;
    color:#000;
      font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:lighter;
    }
    a{
      text-decoration:none;
    }
    table {
        border-spacing: 0;
    }
    fieldset,img {
        border: 0;
    }
    address,caption,cite,code,dfn,em,strong,th,var {
        font-weight: normal;
        font-style: normal;
    }
    strong{
      font-weight: bold;
    }
    ol,ul {
        list-style: none;
        margin:0;
        padding:0;
    }
    caption,th {
        text-align: left;

    }

    q:before,q:after {
        content:'';
    }
    abbr,acronym { border: 0;
    }


    /* Custom CSS
     * --------------------------------------- */
    body{
      font-family: arial,helvetica;
      color: #F2F2F2;
    }
 
    .content{
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
    }

    /* Section 1
     * --------------------------------------- */
    #section0{
         background-color: #00A99E;
    }
    #section0 h1{
      color: #444;
    }
    #section0 p{
      color: #333;
      opacity: 0.4;
    }


    /* Section 2
     * --------------------------------------- */
    #section1{
  background-color: #fff;
    }
    #section1 h1{
      color: #000;
      
    }
    #section1 p{
      opacity: 0.8;
    }


    /* Section 3
     * --------------------------------------- */
    #section2{
  background-color: #00A99E;
    }
    #section2 h1{
      color: #000;
    }
    #section2 p{
      opacity: 0.6;
    }

  </style>
</head>
<body>

{{{body}}}

<script src="js/modernizr.js"></script>
<script type="text/javascript" src="js/javascript.fullPage.js"></script>
<script type="text/javascript">
  fullpage.initialize('#fullpage', {
    anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage','5thpage','lastPage'],
    menu: '#menu',
    css3:true
  });

</script>

<script>
    $(document).ready(function(){
        if (Modernizr.touch) {
            // show the close overlay button
            $(".close-overlay").removeClass("hidden");
            // handle the adding of hover class when clicked
            $(".img").click(function(e){
                if (!$(this).hasClass("hover")) {
                    $(this).addClass("hover");
                }
            });
            // handle the closing of the overlay
            $(".close-overlay").click(function(e){
                e.preventDefault();
                e.stopPropagation();
                if ($(this).closest(".img").hasClass("hover")) {
                    $(this).closest(".img").removeClass("hover");
                }
            });
        } else {
            // handle the mouseenter functionality
            $(".img").mouseenter(function(){
                $(this).addClass("hover");
            })
            // handle the mouseleave functionality
            .mouseleave(function(){
                $(this).removeClass("hover");
            });
        }
    });
</script>
     <script type="text/javascript">
        $(function() {
          console.log("here");
          $('#peopleDaily img').each(function(i) {
            $(this).delay((i++) * 90).fadeTo(1000, 1);
          })
        });
      </script>
        <script src='js/jquery.min.js'></script>
      <script src="js/index.js"></script>

<script src='js/highcharts.js'></script>
<script src='js/exporting.js'></script>

        <script src="js/index2.js"></script>
              <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>

 <script>
      var margin = {top: 20, right: 20, bottom: 100, left: 40};
  var width = 980 - margin.left - margin.right;
  var height = 350 - margin.top - margin.bottom;

  //define scale of x to be from 0 to width of SVG, with .1 padding in between
  var scaleX = d3.scale.ordinal()
    .rangeRoundBands([0, width], .1);

  //define scale of y to be from the height of SVG to 0
  var scaleY = d3.scale.linear()
    .range([height, 0]);

  //define axes
  var xAxis = d3.svg.axis()
    .scale(scaleX)
    .orient("bottom");

  var yAxis = d3.svg.axis()
    .scale(scaleY)
    .orient("left");

  //create a tip
  var tip = d3.tip()
    .attr('class', 'd3-tip')
    .offset([-10, 0])
    .html(function(d) {
      return "<strong>collision rate:</strong> <span style='color:red'>" + d.frequency + "</span>";
    })

  //create svg
  //var dataset = [ 5, 10, 13, 19, 21, 25, 22, 18, 15, 13, 11, 12, 15, 20, 18, 17, 16, 18, 23, 25 ];

  var svg = d3.select("#d3").append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom)
    .append("g")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

  svg.call(tip);

  //get json object which contains media counts
d3.tsv("fonts/data.tsv", type, function(error, data) {
  scaleX.domain(data.map(function(d) { return d.letter; }));
  scaleY.domain([0, d3.max(data, function(d) { return d.frequency; })]);

    //set up x axis
    svg.append("g")
      .attr("class", "x axis")
      .attr("transform", "translate(0," + height + ")") //move x-axis to the bottom
      .call(xAxis)
      .selectAll("text")  
      .style("text-anchor", "end")
      .attr("dx", "-4em")
      .attr("dy", ".15em")
      .attr("transform", function(d) {
        return "rotate(-65)" 
      });

    //set up y axis
    svg.append("g")
      .attr("class", "y axis")
      .call(yAxis)
      .append("text")
      .attr("transform", "rotate(-90)")
      .attr("y", 6)
      .attr("dy", ".71em")
      .style("text-anchor", "end")
      .text("rate");

    //set up bars in bar graph
    svg.selectAll(".bar")
      .data(data)
      .enter().append("rect")
      .attr("class", "bar")
      .attr("x", function(d) { return scaleX(d.letter); })
      .attr("width", scaleX.rangeBand())
      .attr("y", function(d) { return scaleY(d.frequency); })
      .attr("height", function(d) { return height - scaleY(d.frequency); })
      //.attr("fill", function(d) { return "rgb(0, 0, " + (d * 10)%255 + ")";})
      .on('mouseover', tip.show)
      .on('mouseout', tip.hide)
        .attr("fill", function(d) {
    return "rgb(" + ( parseInt(d.frequency*1.5, 10)) + ", "+ (255-parseInt(d.frequency*1.5, 10) )+", 100)";
    });

    d3.select("input").on("change", change);

    var sortTimeout = setTimeout(function() {
      d3.select("input").property("checked", true).each(change);
    }, 2000);

    function change() {
      clearTimeout(sortTimeout);

      // Copy-on-write since tweens are evaluated after a delay.
      var x0 = scaleX.domain(data.sort(this.checked
          ? function(a, b) { return b.frequency - a.frequency; }
          : function(a, b) { return d3.ascending(a.letter, b.letter); })
          .map(function(d) { return d.letter; }))
          .copy();

      svg.selectAll(".bar")
          .sort(function(a, b) { return x0(a.letter) - x0(b.letter); });

      var transition = svg.transition().duration(750),
          delay = function(d, i) { return i * 50; };

      transition.selectAll(".bar")
          .delay(delay)
          .attr("x", function(d) { return x0(d.letter); });

      transition.select(".x.axis")
          .call(xAxis)
        .selectAll("g")
          .delay(delay);
    }
  });

function type(d) {
  d.frequency = +d.frequency;
  return d;
}

</script>

<script type="text/javascript">

$(document).ready(function() {

            $("#LA").hover(
        
               function () {
                  $("#quote1").text(" [...] ride-sharing apps like Uber, Lyft and Sidecar have become a go-to Godsend for party people in L.A. And it's"+
                    " conceivable that they're starting have their impact on DUI statistics, possibly making streets safer for everyone.");
                  $("#credit1").text("LA WEEKLY");
               }, 
        
               function () {
                  $("#quote1").text("The data seem to support our expectation that Lyft and Uber reduce DUIs. But more important is the logical "+
                    "conclusion that we can reduce drink driving by giving young partiers transportation alternatives that are safe and require no"+
                    " computing of tips or counting of cash. ");
                  $("#credit1").text("Steve DelBianco, executive director of NetChoice");

               }
            );

            $("#california").hover(
        
               function () {
                  $("#quote1").text("This study shows us that when empowered with more transportation options, people are making safer, better choices"+
                    "that are helping save lives.");
                  $("#credit1").text("David Plouffe, Senior Vice President for Policy & Strategy at Uber. ");

               }, 
        
               function () {
                  $("#quote1").text("The data seem to support our expectation that Lyft and Uber reduce DUIs. But more important is the logical "+
                    "conclusion that we can reduce drink driving by giving young partiers transportation alternatives that are safe and require no"+
                    " computing of tips or counting of cash. ");
                  $("#credit1").text("Steve DelBianco, executive director of NetChoice");

               }
            );


            $("#seattle").hover(
        
               function () {
                  $("#quote1").text("The new report (on DUI ) found ridesharing is having a significant impact across America’s cities, providing people with "+
                    "smarter alternatives to getting behind the wheel if their plans include alcohol. ");
                  $("#credit1").text("MADD (Mothers Against Drunk Driving)");

               }, 
        
               function () {
                  $("#quote1").text("The data seem to support our expectation that Lyft and Uber reduce DUIs. But more important is the logical "+
                    "conclusion that we can reduce drink driving by giving young partiers transportation alternatives that are safe and require no"+
                    " computing of tips or counting of cash. ");
                  $("#credit1").text("Steve DelBianco, executive director of NetChoice");

               }
            );
         });




</script>    
 <script>
// Adding 500 Data Points
var map, pointarray, heatmap;
//var myLatLng = new google.maps.LatLng(33.150987, -117.277763);

var crashData = [
{location:  new google.maps.LatLng( 32.844,-116.7568664 ), weight:  49.8  },
{location:  new google.maps.LatLng( 32.799299,-116.9532165  ), weight:  56.8  },
{location:  new google.maps.LatLng( 32.8019979,-116.867176  ), weight:  121.3 },
{location:  new google.maps.LatLng( 32.7161115,-116.8722585 ), weight:  42.3  },
{location:  new google.maps.LatLng( 32.7698494,-117.0177946 ), weight:  189.5 },
{location:  new google.maps.LatLng( 32.8503264,-116.9098894 ), weight:  110.7 },
{location:  new google.maps.LatLng( 32.7326733,-117.038919  ), weight:  144.9 },
{location:  new google.maps.LatLng( 32.7382744,-116.3960005 ), weight:  48.9  },
{location:  new google.maps.LatLng( 32.8592325,-116.988263  ), weight:  42  },
{location:  new google.maps.LatLng( 32.7294384,-116.9794295 ), weight:  76.7  },
{location:  new google.maps.LatLng( 32.9585454,-117.2636194 ), weight:  58.4  },
{location:  new google.maps.LatLng( 32.8035347,-117.0349292 ), weight:  72.1  },
{location:  new google.maps.LatLng( 32.827887,-117.1461504  ), weight:  8 },
{location:  new google.maps.LatLng( 32.868788,-117.1531511  ), weight:  120.8 },
{location:  new google.maps.LatLng( 32.8695636,-117.2073419 ), weight:  68.2  },
{location:  new google.maps.LatLng( 33.202577,-117.367068 ), weight:  54.9  },
{location:  new google.maps.LatLng( 33.1215195,-117.287719  ), weight:  75.8  },
{location:  new google.maps.LatLng( 33.2259755,-117.3175415 ), weight:  18  },
{location:  new google.maps.LatLng( 33.3220441,-117.317228  ), weight:  71.6  },
{location:  new google.maps.LatLng( 33.0037625,-117.2331358 ), weight:  65.7  },
{location:  new google.maps.LatLng( 33.184998,-117.2404705  ), weight:  75  },
{location:  new google.maps.LatLng( 32.9226655,-117.072944  ), weight:  157.7 },
{location:  new google.maps.LatLng( 33.100492,-116.301327 ), weight:  90.8  },
{location:  new google.maps.LatLng( 33.1347254,-117.0699775 ), weight:  114.2 },
{location:  new google.maps.LatLng( 33.3663111,-117.214997  ), weight:  53.5  },
{location:  new google.maps.LatLng( 32.8245525,-117.0951632 ), weight:  239.3 },
{location:  new google.maps.LatLng( 33.0740404,-116.587176  ), weight:  174.3 },
{location:  new google.maps.LatLng( 33.3033679,-116.9814167 ), weight:  24.3  },
{location:  new google.maps.LatLng( 32.9967799,-117.0124775 ), weight:  91.8  },
{location:  new google.maps.LatLng( 33.0253775,-116.8255691 ), weight:  54.5  },
{location:  new google.maps.LatLng( 33.1344508,-117.1703079 ), weight:  132.9 },
{location:  new google.maps.LatLng( 33.226128,-117.0206735  ), weight:  53.4  },
{location:  new google.maps.LatLng( 32.6317664,-117.0208791 ), weight:  97.2  },
{location:  new google.maps.LatLng( 32.6926616,-117.2063  ), weight:  73.7  },
{location:  new google.maps.LatLng( 32.669864,-117.0895853  ), weight:  40.8  },
{location:  new google.maps.LatLng( 32.5841728,-117.0429 ), weight:  31  },
{location:  new google.maps.LatLng( 32.6349965,-117.0846095 ), weight:  9 }
];

  var gradient;

function initialize() {
  var mapOptions = {
    zoom: 9,
    center: new google.maps.LatLng(33.062334, -116.55832),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var pointArray = new google.maps.MVCArray(crashData);

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });

  heatmap.set('opacity',0.85);
  heatmap.set('radius', 42);
  heatmap.setMap(map);

  var styles = [
      {featureType: 'poi.attraction',
       stylers: [{color: '#fce8b2'}]
      },
      {featureType: 'road.highway',
       stylers: [{hue: '#0277bd'}, {saturation: -50}]
      },
      {featureType: 'road.highway',
       elementType: 'labels.icon',
       stylers: [{hue: '#000'}, {saturation: 100}, {lightness: 50}]
      },
      {featureType: 'landscape',
       stylers: [{hue: '#259b24'}, {saturation: 10}, {lightness: -22}]
      }
  ];

  map.setOptions({styles: styles});

  var iconBase = 'https://maps.google.com/mapfiles/kml/pal2/icon39.png';
var marker1 = new google.maps.Marker({  position: new google.maps.LatLng( 32.844,-116.7568664   ),  title: "  Alpine  : 49.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker2 = new google.maps.Marker({  position: new google.maps.LatLng( 32.799299,-116.9532165  ),  title: "  El Cajon  : 56.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker3 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8019979,-116.867176  ),  title: "  Harbison Crest  : 121.3 ",  map: map,icon: iconBase, opacity: 0 });
var marker4 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7161115,-116.8722585 ),  title: "  Jamul : 42.3  ",  map: map,icon: iconBase, opacity: 0 });
var marker5 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7698494,-117.0177946 ),  title: "  La Mesa : 189.5 ",  map: map,icon: iconBase, opacity: 0 });
var marker6 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8503264,-116.9098894 ),  title: "  Lakeside  : 110.7 ",  map: map,icon: iconBase, opacity: 0 });
var marker7 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7326733,-117.038919  ),  title: "  Lemon Grove : 144.9 ",  map: map,icon: iconBase, opacity: 0 });
var marker8 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7382744,-116.3960005 ),  title: "  Mountain Empire : 48.9  ",  map: map,icon: iconBase, opacity: 0 });
var marker9 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8592325,-116.988263  ),  title: "  Santee  : 42  ",  map: map,icon: iconBase, opacity: 0 });
var marker10  = new google.maps.Marker({  position: new google.maps.LatLng( 32.7294384,-116.9794295 ),  title: "  Spring Valley : 76.7  ",  map: map,icon: iconBase, opacity: 0 });
var marker11  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9585454,-117.2636194 ),  title: "  Del Mar-Mira Mesa : 58.4  ",  map: map,icon: iconBase, opacity: 0 });
var marker12  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8035347,-117.0349292 ),  title: "  Elliott-Navajo  : 72.1  ",  map: map,icon: iconBase, opacity: 0 });
var marker13  = new google.maps.Marker({  position: new google.maps.LatLng( 32.827887,-117.1461504  ),  title: "  Kearny Mesa : 8 ",  map: map,icon: iconBase, opacity: 0 });
var marker14  = new google.maps.Marker({  position: new google.maps.LatLng( 32.868788,-117.1531511  ),  title: "  Miramar : 120.8 ",  map: map,icon: iconBase, opacity: 0 });
var marker15  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8695636,-117.2073419 ),  title: "  University  : 68.2  ",  map: map,icon: iconBase, opacity: 0 });
var marker16  = new google.maps.Marker({  position: new google.maps.LatLng( 33.202577,-117.367068   ),  title: "  North Coastal Region  : 54.9  ",  map: map,icon: iconBase, opacity: 0 });
var marker17  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1215195,-117.287719  ),  title: "  Carlsbad  : 75.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker18  = new google.maps.Marker({  position: new google.maps.LatLng( 33.2259755,-117.3175415 ),  title: "  Oceanside : 18  ",  map: map,icon: iconBase, opacity: 0 });
var marker19  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3220441,-117.317228  ),  title: "  Pendleton : 71.6  ",  map: map,icon: iconBase, opacity: 0 });
var marker20  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0037625,-117.2331358 ),  title: "  San Dieguito  : 65.7  ",  map: map,icon: iconBase, opacity: 0 });
var marker21  = new google.maps.Marker({  position: new google.maps.LatLng( 33.184998,-117.2404705  ),  title: "  Vista : 75  ",  map: map,icon: iconBase, opacity: 0 });
var marker22  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9226655,-117.072944  ),  title: "  North Inland Region : 157.7 ",  map: map,icon: iconBase, opacity: 0 });
var marker23  = new google.maps.Marker({  position: new google.maps.LatLng( 33.100492,-116.301327   ),  title: "  Anza-Borrego Springs  : 90.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker24  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1347254,-117.0699775 ),  title: "  Escondido : 114.2 ",  map: map,icon: iconBase, opacity: 0 });
var marker25  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3663111,-117.214997  ),  title: "  Fallbrook : 53.5  ",  map: map,icon: iconBase, opacity: 0 });
var marker26  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8245525,-117.0951632 ),  title: "  North San Diego : 239.3 ",  map: map,icon: iconBase, opacity: 0 });
var marker27  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0740404,-116.587176  ),  title: "  Palomar-Julian  : 174.3 ",  map: map,icon: iconBase, opacity: 0 });
var marker28  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3033679,-116.9814167 ),  title: "  Pauma : 24.3  ",  map: map,icon: iconBase, opacity: 0 });
var marker29  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9967799,-117.0124775 ),  title: "  Poway : 91.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker30  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0253775,-116.8255691 ),  title: "  Ramona  : 54.5  ",  map: map,icon: iconBase, opacity: 0 });
var marker31  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1344508,-117.1703079 ),  title: "  San Marcos  : 132.9 ",  map: map,icon: iconBase, opacity: 0 });
var marker32  = new google.maps.Marker({  position: new google.maps.LatLng( 33.226128,-117.0206735  ),  title: "  Valley Center : 53.4  ",  map: map,icon: iconBase, opacity: 0 });
var marker33  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6317664,-117.0208791 ),  title: "  Chula Vista : 97.2  ",  map: map,icon: iconBase, opacity: 0 });
var marker34  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6926616,-117.2063    ),  title: "  Coronado  : 73.7  ",  map: map,icon: iconBase, opacity: 0 });
var marker35  = new google.maps.Marker({  position: new google.maps.LatLng( 32.669864,-117.0895853  ),  title: "  National City : 40.8  ",  map: map,icon: iconBase, opacity: 0 });
var marker36  = new google.maps.Marker({  position: new google.maps.LatLng( 32.5841728,-117.0429  ),  title: "  South Bay : 31  ",  map: map,icon: iconBase, opacity: 0 });
var marker37  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6349965,-117.0846095 ),  title: "  Sweetwater  : 9 ",  map: map,icon: iconBase, opacity: 0 });
} //end initialize function


function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(3, 0, 191, 1)',
    'rgba(27, 0, 163, 1)',
    'rgba(41, 0, 131, 1)',
    'rgba(55, 0, 10, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 42);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.85);
}

google.maps.event.addDomListener(window, 'load', initialize);



    </script>





      <script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['geochart']}]}"></script>
  <script>
    google.maps.event.addDomListener(window, 'load', initialize);
    options = $.extend({
      scrollwheel: false,
      navigationControl: false,
      mapTypeControl: false,
      scaleControl: false,
      draggable: false,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    }, options);
  </script>
  <script>
    google.setOnLoadCallback(drawRegionsMap);

    function drawRegionsMap() {
      var data = google.visualization.arrayToDataTable([
          ['States', 'Accidents'],
     ['Alabama ', 852],
['Alaska ', 51],
['Arizona ', 849],
['Arkansas ', 483],
['California ', 3000],
['Colorado ', 481],
['Connecticut ', 276],
['Delaware ', 99],
['Dist of Columbia ', 20],
['Florida ', 2407],
['Georgia ', 1179],
['Hawaii ', 102],
['Idaho ', 214],
['Illinois ', 991],
['Indiana ', 783],
['Iowa ', 317],
['Kansas ', 350],
['Kentucky ', 638],
['Louisiana ', 703],
['Maine ', 145],
['Maryland ', 465],
['Massachusetts ', 326],
['Michigan ', 947],
['Minnesota ', 387],
['Mississippi ', 613],
['Missouri ', 757],
['Montana ', 229],
['Nebraska ', 211],
['Nevada ', 262],
['New Hampshire ', 135],
['New Jersey ', 542],
['New Mexico ', 310],
['New York ', 1199],
['North Carolina ', 1289],
['North Dakota ', 148],
['Ohio ', 989],
['Oklahoma ', 678],
['Oregon ', 313],
['Pennsylvania ', 1208],
['Rhode Island ', 65],
['South Carolina ', 767],
['South Dakota ', 135],
['Tennessee ', 995],
['Texas ', 3382],
['Utah ', 220],
['Vermont ', 69],
['Virginia ', 740],
['Washington ', 436],
['West Virginia ', 332],
['Wisconsin ', 543],
['Wyoming ', 87],
['Puerto Rico ', 344],
        ]);
      var options = {
        datalessRegionColor: '#f5f5f5',
        backgroundColor: 'none',
        displayMode: 'regions',
        enableRegionInteractivity: 'true',
        resolution: 'provinces',
        sizeAxis: {
          minValue: 1,
          maxValue: 1,
          minSize: 10,
          maxSize: 10
        },
        region: 'US',
        keepAspectRatio: true,
        width: 600,
        height: 350,
        tooltip: {
          textStyle: {
            color: '#444444'
          },
          trigger: 'hover'
        }
      };
      var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
      chart.draw(data, options);
    };
  </script>


</body>
</html>


