<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" >

<script src='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.js'></script>
<link href='https://api.tiles.mapbox.com/mapbox.js/v2.1.9/mapbox.css' rel='stylesheet' />

<div id="fullpage">

  <div class="section" id="section2" style="background:#fff">
    <section class=" paddingem">
      <div class="page-header text-center" style="background:#217AD3">
        <h1 class="entry-title">
                              <a href="#" class="noTextDec">LET'S DISCOVER SAN DIEGO</a> <br>
                        <div><i style="color:#2C3E50"class="fa fa-heart-o fa-2x"></i></div>
          
        </h1> </div>
      <div style="text-align:center">
        <div class="col-xs-6 col-sm-4 nopadding" style="height: 380px;overflow: hidden;">
          <a href="/lists" style="cursor:pointer">
            <div id="effect-6" class="effects clearfix">
              <div class="img"> <img class="img-responsive " onError="this.onerror=null;this.src='http://echurchdepot.zurltd.netdna-cdn.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/3/739260007138L_3.jpg'" width="560" height="315" src="img/1.png" alt="">
                <div class="overlay"> <a href="#" class="expand2 noTextDec">+</a> <a class="close-overlay hidden">x</a> </div>
              </div>
            </div>
          </a>
          <div style="margin: 0px;padding: 10px 10px 10px 16px;">
            <p style="font-weight:lighter" class="text5 fontfamily">One of the major things that people want within their community is safety. So we decided to focus on an issue that makes a community unsafe more salient to the public and try to reduce its impact if possible.</p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 nopadding" style="height: 380px;overflow: hidden;">
          <a href="/lists" style="cursor:pointer">
            <div id="effect-6" class="effects clearfix">
              <div class="img"> <img class="img-responsive " onError="this.onerror=null;this.src='http://echurchdepot.zurltd.netdna-cdn.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/3/739260007138L_3.jpg'" width="560" height="315" src="img/2.png" alt="">
                <div class="overlay"> <a href="#" class="expand2 noTextDec">+</a> <a class="close-overlay hidden">x</a> </div>
              </div>
            </div>
          </a>
          <div style="margin: 0px;padding: 10px 10px 10px 16px;">
            <p style="font-weight:lighter" class="text5 fontfamily">Making San Diego a safer place by decreasing the number of drunk drivers on the road. We also imagine that families could use this data to determine if the environment they live in is “children-friendly”. </p>
          </div>
        </div>
        <div class="col-xs-6 col-sm-4 nopadding" style="height: 380px;overflow: hidden;">
          <a href="/lists" style="cursor:pointer">
            <div id="effect-6" class="effects clearfix">
              <div class="img"> <img class="img-responsive " onError="this.onerror=null;this.src='http://echurchdepot.zurltd.netdna-cdn.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/7/3/739260007138L_3.jpg'" width="560" height="315" src="img/3.png" alt="">
                <div class="overlay"> <a href="#" class="expand2 noTextDec">+</a> <a class="close-overlay hidden">x</a> </div>
              </div>
            </div>
          </a>
          <div style="margin: 0px;padding: 10px 10px 10px 16px;">
            <p style="font-weight:lighter" class="text5 fontfamily">We are a team named DTOXX that is devoted on makaing San Diego a better city. Let's discover the best places and live well in San Diego. </p>
          </div>
        </div>
      </div>
    </section>
  </div>

  
  <div class="section whitefont" id="section1" style="background:#33ADA1">

    <section style="padding:10px">
      <div id="dailyDeath">
        <h2>On average...</h2>
        <h2>DUI KILLS 30</h2>
        <h2>PEOPLE DAILY</h2> </div>
      <div id="peopleDaily"> <img class="individual" src="/img/iconmonstr-user-icon.svg"> <img class="individual" src="img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> <img class="individual" src="./img/iconmonstr-user-icon.svg"> </div>
      <div class="clock">
        <div class="top"></div>
        <div class="right"></div>
        <div class="bottom"></div>
        <div class="left"></div>
        <div class="center"></div>
        <div class="shadow"></div>
        <div class="hour"></div>
        <div class="minute"></div>
        <div class="second"></div>
      </div>
      <div id="drunkDriving">
        <h2>DRUNK DRIVING CAUSES</h2>
        <h2>1 DEATH</h2>
        <h2>EVERY 48 MINUTES</h2> </div>
    </section>
  </div>

<div class="section whitefont" id="section2" style="background:#fff">
    <section style="padding:50px" >
        <div class='title'>
  <h1>
    There's Clearly a Trend Going On...
  </h1>
  <h2>
    Take a look at DUI trends after the introduction of Uber similar services
  </h2>
</div>
<div class='ui'>
  <div class='ui_box' id="seattle">
    <div class='ui_box__inner'>
      <h2>
        SEATTLE
      </h2>
      
      <p>The introduction of ridesharing apps concided with a</p>
      <div class='stat'>
        <span>10% DECREASE</span>
      </div>
      <div class='progress'>
        <div class='progress_bar'></div>
      </div>
      <p>In DUI-related arrests</p>
    </div>
    <div class='drop'>
      <p>More on this comming SOON</p>
      <div class='arrow'></div>
    </div>
  </div>
  <div class='ui_box'>
    <div class='ui_box__inner' id="california">
      <h2>
        STATE OF CALIFORNIA (OVERALL)
      </h2>
      <p>Decrease in DUI accidents after the introduction of UberX</p>
      <div class='stat_left'>
        <ul>
          <li>
            - DUI fell 60% with drivers under 30
          </li>
          <li>
            - That is 60 less crashes monthly
          </li>
          <li>
             -or 1800 crashes avoided since July 2012
          </li>
        </ul>
      </div>
      <div class='progress_graph'>
        <div class='progress_graph__bar--1'></div>
        <div class='progress_graph__bar--2'></div>
        <div class='progress_graph__bar--3'></div>
        <div class='progress_graph__bar--4'></div>
      </div>
    </div>
    <div class='drop'>
      <p>More on this comming SOON</p>
      <div class='arrow'></div>
    </div>
  </div>
  <div class='ui_box'>
    <div class='ui_box__inner' id="LA">
      <h2>
        LOS ANGELES
      </h2>
      <p>experienced a </p>
      <div class='stat'>
        <span>22% DROP</span>
      </div>
      <div class='progress'>
        <div class='progress_bar--two'></div>
      </div>
      <p>in DUI arrests from 2012 to 2014, after the introduction of ridesharing apps </p>
    </div>
    <div class='drop'>
      <p>More on this comming SOON</p>
      <div class='arrow'></div>
    </div>
  </div>
</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>

<div class="quote">
    <blockquote><p id="quote1">The data seem to support our expectation that Lyft and Uber reduce DUIs.
But more important is the logical conclusion that we can reduce drink driving by giving young partiers transportation alternatives that are safe and require no computing of tips or counting of cash.
</p></blockquote>
    <p class="credit" id="credit1">Steve DelBianco, executive director of NetChoice</p>
</div>

    </section>
  </div>



  <div class="section" id="section1" style="background:#245991">

  <div class="slide bac" id="slide1" style="background:rgb(127, 200, 237)">
      <section class=" paddingem">
        <div class="page-header text-center" style="background:#fff">
          <h1 class="entry-title">
                              <a href="#" style="color:#2C3E50">DUI in San Diego</a>
                        <div>- <i style="color:#2C3E50"class="fa fa-heart fa-fw"></i> -</div>
                    </h1> </div>
        <div class="imageSec  page-header" style="background-color:rgb(127, 200, 237);text-align:right">

          <button style="color:black;border:none;box-shadow:none" onclick="toggleHeatmap()">Toggle Heatmap</button>
          <button  style="color:black;border:none;box-shadow:none" onclick="changeGradient()">Change gradient</button>
          <button  style="color:black;border:none;box-shadow:none" onclick="changeRadius()">Change radius</button>
          <button  stylef="color:black;border:none;box-shadow:none" onclick="changeOpacity()">Change opacity</button>
          
          <div id="map-canvas" style="height:55vh"></div>

        </div>
      </section>
 </div>


  <div class="slide bac" id="slide1" style="background:#fff">
      <section class=" paddingem">
        <div class="page-header text-center" style="background:#fff">
          <h1 class="entry-title">
                              <a href="#" style="color:#2C3E50">DUI in San Diego</a>
                        <div>- <i style="color:#2C3E50"class="fa fa-heart fa-fw"></i> -</div>
                    </h1> </div>
        <div class="imageSec  page-header" style="background-color:#fff;text-align:right">
           <div id="d3" style = "background-color: transparent"></div>
             <label><input type="checkbox">Sort </label>


        </div>
      </section>
 </div>



    <div class="slide" id="slide2">
     <section class=" paddingem">

        <div class="page-header text-center" style="background:#fff">
          <h1 class="entry-title">
               <a href="#" class="noTextDec" style="color:#000">Drunk driving in the United States</a> <br>
                        <div> <i style="color:#1ABC9C"class="fa fa-heart fa-fw"></i> </div>
                    </h1> </div>
        <div class="imageSec img-responsive page-header" style="background:#195BA1">
          <div id="geochart-colors" class="img-responsive"></div>
        </div>

      </section>
    </div>

    
    <div class="slide bac" id="slide3" style="background:#fff">
    <section class=" paddingem">
      <div class="page-header text-center" style="background:#fff">
          <h1 class="entry-title">
               <a href="#" class="noTextDec" style="color:#000">alcohol-impaired injuries</a> <br>
                        <div> <i style="color:#1ABC9C"class="fa fa-heart fa-fw"></i> </div>
                    </h1> </div>
          <div id="container3" style="width:40%;float:left"></div>
              <div  style="width:40%;float:right;background:rgba(30, 142, 82, 0.83);padding:10px">
<h2 style="color:#fff">Do you know there are more than 17,000 annual alcohol-impaired injuries in San Diego. Let's drive 
safer and create a happier city. Start your journey with us. Learn more about the statistics and enjoy your trip</h2>

              </div>
      </section>
    </div>


  </div>




  <div class="section" id="section1" style="background:#fff">
<div id='map'></div>
<div id='panel'>
    <h1 id="currentRegion">Hover Region to Learn More</h1>
    <div id="pieCharts"></div>
</div>
</div>

<div class="section" id="section2">
    <section style="padding:50px">

      <div>
        <h1>We can do better</h1> </div>
      <div>
        <h2>When in a group, designate a drinking driver. Don't let impaired friends drink and drive, take any measures necessary. When alone, request a taxi cab. We live in a time where transporation is more accessible than ever before. No excuses, drink responsibly</h2> 
      </div>
      <div id="container">
        <div class="pour"></div>
        <div id="beaker">
          <div class="beer-foam">
            <div class="foam-1"></div>
            <div class="foam-2"></div>
            <div class="foam-3"></div>
            <div class="foam-4"></div>
            <div class="foam-5"></div>
            <div class="foam-6"></div>
            <div class="foam-7"></div>
          </div>
          <div id="liquid">
            <div class="bubble bubble1"></div>
            <div class="bubble bubble2"></div>
            <div class="bubble bubble3"></div>
            <div class="bubble bubble4"></div>
            <div class="bubble bubble5"></div>
          </div>
        </div>
      </div>
    </section>
  </div>




</div>






    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
  
 



  </html>