
<script type="text/javascript" src="https://www.google.com/jsapi?autoload={'modules':[{'name':'visualization','version':'1.1','packages':['geochart']}]}"></script>


<div id="fullpage">
  <div class="section" id="section2">

    <div id="map-canvas"style="height: 300px;margin-bottom:100px"></div>
<div >
  <div class="truck truckAnimation" style="margin:0;">
    <div class="body">
      <img src="/img/truck-under.svg" width="500" height="136">
      <div class="shine"></div>
      <img src="/img/truck-frame.svg" width="500" height="136" class="frame">
    </div>

    <div class="speed-thingy"></div>
    <div class="speed-thingy second"></div>
    <div class="shadow"></div>

    <div class="wheel back"></div>
    <div class="wheel front"></div>
</div>


    </div>
  </div>


  <div class="section" id="section1">
    <div class="slide" id="slide1">
      <div class="content">



      </div>
    </div>
    <div class="slide" id="slide2">
      <div class="content">
        <h1>Slides too!</h1>
      </div>
    </div>
    <div class="slide" id="slide2">
      <div class="content">
        <h1>More slides!</h1>
      </div>
    </div>
  </div>
    <div class="section " id="section0">
    <div class="content">
   
      <div id="geochart-colors" style="width: 700px; height: 433px;margin:0 auto"></div>

    </div>
  </div>

</div>

    <style>
        div>pp>#map-canvas * {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .gm-style .gm-inset-light {
        display:none
      }
      html, body, #map-canvas*{
  width: 100%;
  height: 100%;
}

.label {
  box-sizing:border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border:5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
}

/* ANIMATIONS */
@-webkit-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
     


    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>
    <script>
var map;
var brooklyn = new google.maps.LatLng(32.79660,-116.47442);

var MY_MAPTYPE_ID = 'custom_style';

function initialize() {

  var featureOpts =  [{
        "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "road",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#ffffff"
        }]
    }, {
        "featureType": "road.arterial",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#fee379"
        }]
    }, {
        "featureType": "road.highway",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#fee379"
        }]
    }, {
        "featureType": "landscape",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#22A4E7" <!--#f3f4f4-->
        }]
    }, {
        "featureType": "water",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#22A4E7"
        }]
    }, {}, {
        "featureType": "road",
            "elementType": "labels",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "poi.park",
            "elementType": "geometry.fill",
            "stylers": [{
            "visibility": "on"
        }, {
            "color": "#83cead"
        }]
    }, {
        "elementType": "labels",
            "stylers": [{
            "visibility": "off"
        }]
    }, {
        "featureType": "landscape.man_made",
            "elementType": "geometry",
            "stylers": [{
            "weight": 0.9
        }, {
            "visibility": "off"
        }]
    }];

  var mapOptions = {
    zoom: 10,
    center: brooklyn,
    mapTypeControlOptions: {
      mapTypeIds: [google.maps.MapTypeId.ROADMAP, MY_MAPTYPE_ID]
    },
    mapTypeId: MY_MAPTYPE_ID
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var styledMapOptions = {
    name: 'Custom Style'
  };

  var customMapType = new google.maps.StyledMapType(featureOpts, styledMapOptions);


  map.mapTypes.set(MY_MAPTYPE_ID, customMapType);


}

google.maps.event.addDomListener(window, 'load', initialize);

options = $.extend({
    scrollwheel: false,
    navigationControl: false,
    mapTypeControl: false,
    scaleControl: false,
    draggable: false,
    mapTypeId: google.maps.MapTypeId.ROADMAP
}, options);
    </script>

<script>
 google.setOnLoadCallback(drawRegionsMap);
      function drawRegionsMap() {
        var data = google.visualization.arrayToDataTable([
          ['States',   'Total'],
     ['Alabama ',852],
['Alaska ',51],
['Arizona ',849],
['Arkansas ',483],
['California ',3000],
['Colorado ',481],
['Connecticut ',276],
['Delaware ',99],
['Dist of Columbia ',20],
['Florida ',2407],
['Georgia ',1179],
['Hawaii ',102],
['Idaho ',214],
['Illinois ',991],
['Indiana ',783],
['Iowa ',317],
['Kansas ',350],
['Kentucky ',638],
['Louisiana ',703],
['Maine ',145],
['Maryland ',465],
['Massachusetts ',326],
['Michigan ',947],
['Minnesota ',387],
['Mississippi ',613],
['Missouri ',757],
['Montana ',229],
['Nebraska ',211],
['Nevada ',262],
['New Hampshire ',135],
['New Jersey ',542],
['New Mexico ',310],
['New York ',1199],
['North Carolina ',1289],
['North Dakota ',148],
['Ohio ',989],
['Oklahoma ',678],
['Oregon ',313],
['Pennsylvania ',1208],
['Rhode Island ',65],
['South Carolina ',767],
['South Dakota ',135],
['Tennessee ',995],
['Texas ',3382],
['Utah ',220],
['Vermont ',69],
['Virginia ',740],
['Washington ',436],
['West Virginia ',332],
['Wisconsin ',543],
['Wyoming ',87],
['Puerto Rico ',344],
        ]);
          
          
 var options = {

 datalessRegionColor: '#f5f5f5',
 displayMode: 'regions', 
 enableRegionInteractivity: 'true', 
 resolution: 'provinces',
 sizeAxis: {minValue: 1, maxValue:1,minSize:10,  maxSize: 10},
 region:'US',
 keepAspectRatio: true,
 width:600,
 height:400,
 tooltip: {textStyle: {color: '#444444'}, trigger:'hover'}  
 };

        var chart = new google.visualization.GeoChart(document.getElementById('geochart-colors'));
        chart.draw(data, options);
      };
</script>
