<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Heatmaps</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

    <style>
      html, body, #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 50%;
        margin-left: -180px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
    * {
          box-sizing: border-box;
      }

      #map {
          width: 400px;
          height: 300px;
          border: 1px solid black;
      }

      #legend {
          position: relative;
          width: 400px;
          height: 30px;
          margin-top: 10px;
      }

      #legendGradient {
          width: 100%;
          height: 15px;
          border: 1px solid black;
      }
    </style>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=visualization"></script>
    <script>
// Adding 500 Data Points
var map, pointarray, heatmap;
//var myLatLng = new google.maps.LatLng(33.150987, -117.277763);

var crashData = [
{location:  new google.maps.LatLng( 32.844,-116.7568664 ), weight:  49.8  },
{location:  new google.maps.LatLng( 32.799299,-116.9532165  ), weight:  56.8  },
{location:  new google.maps.LatLng( 32.8019979,-116.867176  ), weight:  121.3 },
{location:  new google.maps.LatLng( 32.7161115,-116.8722585 ), weight:  42.3  },
{location:  new google.maps.LatLng( 32.7698494,-117.0177946 ), weight:  189.5 },
{location:  new google.maps.LatLng( 32.8503264,-116.9098894 ), weight:  110.7 },
{location:  new google.maps.LatLng( 32.7326733,-117.038919  ), weight:  144.9 },
{location:  new google.maps.LatLng( 32.7382744,-116.3960005 ), weight:  48.9  },
{location:  new google.maps.LatLng( 32.8592325,-116.988263  ), weight:  42  },
{location:  new google.maps.LatLng( 32.7294384,-116.9794295 ), weight:  76.7  },
{location:  new google.maps.LatLng( 32.9585454,-117.2636194 ), weight:  58.4  },
{location:  new google.maps.LatLng( 32.8035347,-117.0349292 ), weight:  72.1  },
{location:  new google.maps.LatLng( 32.827887,-117.1461504  ), weight:  8 },
{location:  new google.maps.LatLng( 32.868788,-117.1531511  ), weight:  120.8 },
{location:  new google.maps.LatLng( 32.8695636,-117.2073419 ), weight:  68.2  },
{location:  new google.maps.LatLng( 33.202577,-117.367068 ), weight:  54.9  },
{location:  new google.maps.LatLng( 33.1215195,-117.287719  ), weight:  75.8  },
{location:  new google.maps.LatLng( 33.2259755,-117.3175415 ), weight:  18  },
{location:  new google.maps.LatLng( 33.3220441,-117.317228  ), weight:  71.6  },
{location:  new google.maps.LatLng( 33.0037625,-117.2331358 ), weight:  65.7  },
{location:  new google.maps.LatLng( 33.184998,-117.2404705  ), weight:  75  },
{location:  new google.maps.LatLng( 32.9226655,-117.072944  ), weight:  157.7 },
{location:  new google.maps.LatLng( 33.100492,-116.301327 ), weight:  90.8  },
{location:  new google.maps.LatLng( 33.1347254,-117.0699775 ), weight:  114.2 },
{location:  new google.maps.LatLng( 33.3663111,-117.214997  ), weight:  53.5  },
{location:  new google.maps.LatLng( 32.8245525,-117.0951632 ), weight:  239.3 },
{location:  new google.maps.LatLng( 33.0740404,-116.587176  ), weight:  174.3 },
{location:  new google.maps.LatLng( 33.3033679,-116.9814167 ), weight:  24.3  },
{location:  new google.maps.LatLng( 32.9967799,-117.0124775 ), weight:  91.8  },
{location:  new google.maps.LatLng( 33.0253775,-116.8255691 ), weight:  54.5  },
{location:  new google.maps.LatLng( 33.1344508,-117.1703079 ), weight:  132.9 },
{location:  new google.maps.LatLng( 33.226128,-117.0206735  ), weight:  53.4  },
{location:  new google.maps.LatLng( 32.6317664,-117.0208791 ), weight:  97.2  },
{location:  new google.maps.LatLng( 32.6926616,-117.2063  ), weight:  73.7  },
{location:  new google.maps.LatLng( 32.669864,-117.0895853  ), weight:  40.8  },
{location:  new google.maps.LatLng( 32.5841728,-117.0429 ), weight:  31  },
{location:  new google.maps.LatLng( 32.6349965,-117.0846095 ), weight:  9 }
];

  var gradient;

function initialize() {
  var mapOptions = {
    zoom: 9,
    center: new google.maps.LatLng(33.062334, -116.55832),
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  map = new google.maps.Map(document.getElementById('map-canvas'),
      mapOptions);

  var pointArray = new google.maps.MVCArray(crashData);

  heatmap = new google.maps.visualization.HeatmapLayer({
    data: pointArray
  });
  /*
var gradient = [
    'rgba(0, 255, 255, 0)',

    'rgba(34, 152, 76, 0.63)',
    'rgba(34, 152, 76, 0.87)',
    'rgba(19, 78, 94, 0.66)',

    'rgba(19, 78, 94, 0.79)',
    'rgba(55, 0, 10, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
  */
  heatmap.set('opacity',0.65);
  heatmap.set('radius', 50);
  heatmap.setMap(map);

var styles = [ { "featureType": "all", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "administrative", "elementType": "all", "stylers": [ { "visibility": "simplified" }, { "color": "#5b6571" }, { "lightness": "35" } ] }, { "featureType": "administrative.neighborhood", "elementType": "all", "stylers": [ { "visibility": "off" } ] }, { "featureType": "landscape", "elementType": "all", "stylers": [ { "visibility": "on" }, { "color": "#f3f4f4" } ] }, { "featureType": "landscape.man_made", "elementType": "geometry", "stylers": [ { "weight": 0.9 }, { "visibility": "off" } ] }, { "featureType": "poi.park", "elementType": "geometry.fill", "stylers": [ { "visibility": "on" }, { "color": "#83cead" } ] }, { "featureType": "road", "elementType": "all", "stylers": [ { "visibility": "on" }, { "color": "#ffffff" } ] }, { "featureType": "road", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway", "elementType": "all", "stylers": [ { "visibility": "on" }, { "color": "#fee379" } ] }, { "featureType": "road.highway", "elementType": "geometry", "stylers": [ { "visibility": "on" } ] }, { "featureType": "road.highway", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.highway.controlled_access", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.arterial", "elementType": "all", "stylers": [ { "visibility": "simplified" }, { "color": "#ffffff" } ] }, { "featureType": "road.arterial", "elementType": "labels", "stylers": [ { "visibility": "off" } ] }, { "featureType": "road.arterial", "elementType": "labels.icon", "stylers": [ { "visibility": "off" } ] }, { "featureType": "water", "elementType": "all", "stylers": [ { "visibility": "on" }, { "color": "#7fc8ed" } ] } ];

  map.setOptions({styles: styles});

  var iconBase = 'https://maps.google.com/mapfiles/kml/pal2/icon39.png';
  var marker1 = new google.maps.Marker({  position: new google.maps.LatLng( 32.844,-116.7568664 ),  title: "  Alpine  ",  map: map,icon: iconBase, opacity: 0 });
var marker2 = new google.maps.Marker({  position: new google.maps.LatLng( 32.799299,-116.9532165  ),  title: "  El Cajon  ",  map: map,icon: iconBase, opacity: 0 });
var marker3 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8019979,-116.867176  ),  title: "  Harbison Crest  ",  map: map,icon: iconBase, opacity: 0 });
var marker4 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7161115,-116.8722585 ),  title: "  Jamul ",  map: map,icon: iconBase, opacity: 0 });
var marker5 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7698494,-117.0177946 ),  title: "  La Mesa ",  map: map,icon: iconBase, opacity: 0 });
var marker6 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8503264,-116.9098894 ),  title: "  Lakeside  ",  map: map,icon: iconBase, opacity: 0 });
var marker7 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7326733,-117.038919  ),  title: "  Lemon Grove ",  map: map,icon: iconBase, opacity: 0 });
var marker8 = new google.maps.Marker({  position: new google.maps.LatLng( 32.7382744,-116.3960005 ),  title: "  Mountain Empire ",  map: map,icon: iconBase, opacity: 0 });
var marker9 = new google.maps.Marker({  position: new google.maps.LatLng( 32.8592325,-116.988263  ),  title: "  Santee  ",  map: map,icon: iconBase, opacity: 0 });
var marker10  = new google.maps.Marker({  position: new google.maps.LatLng( 32.7294384,-116.9794295 ),  title: "  Spring Valley ",  map: map,icon: iconBase, opacity: 0 });
var marker11  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9585454,-117.2636194 ),  title: "  Del Mar-Mira Mesa ",  map: map,icon: iconBase, opacity: 0 });
var marker12  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8035347,-117.0349292 ),  title: "  Elliott-Navajo  ",  map: map,icon: iconBase, opacity: 0 });
var marker13  = new google.maps.Marker({  position: new google.maps.LatLng( 32.827887,-117.1461504  ),  title: "  Kearny Mesa ",  map: map,icon: iconBase, opacity: 0 });
var marker14  = new google.maps.Marker({  position: new google.maps.LatLng( 32.868788,-117.1531511  ),  title: "  Miramar ",  map: map,icon: iconBase, opacity: 0 });
var marker15  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8695636,-117.2073419 ),  title: "  University  ",  map: map,icon: iconBase, opacity: 0 });
var marker16  = new google.maps.Marker({  position: new google.maps.LatLng( 33.202577,-117.367068 ),  title: "  North Coastal Region  ",  map: map,icon: iconBase, opacity: 0 });
var marker17  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1215195,-117.287719  ),  title: "  Carlsbad  ",  map: map,icon: iconBase, opacity: 0 });
var marker18  = new google.maps.Marker({  position: new google.maps.LatLng( 33.2259755,-117.3175415 ),  title: "  Oceanside ",  map: map,icon: iconBase, opacity: 0 });
var marker19  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3220441,-117.317228  ),  title: "  Pendleton ",  map: map,icon: iconBase, opacity: 0 });
var marker20  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0037625,-117.2331358 ),  title: "  San Dieguito  ",  map: map,icon: iconBase, opacity: 0 });
var marker21  = new google.maps.Marker({  position: new google.maps.LatLng( 33.184998,-117.2404705  ),  title: "  Vista ",  map: map,icon: iconBase, opacity: 0 });
var marker22  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9226655,-117.072944  ),  title: "  North Inland Region ",  map: map,icon: iconBase, opacity: 0 });
var marker23  = new google.maps.Marker({  position: new google.maps.LatLng( 33.100492,-116.301327 ),  title: "  Anza-Borrego Springs  ",  map: map,icon: iconBase, opacity: 0 });
var marker24  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1347254,-117.0699775 ),  title: "  Escondido ",  map: map,icon: iconBase, opacity: 0 });
var marker25  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3663111,-117.214997  ),  title: "  Fallbrook ",  map: map,icon: iconBase, opacity: 0 });
var marker26  = new google.maps.Marker({  position: new google.maps.LatLng( 32.8245525,-117.0951632 ),  title: "  North San Diego ",  map: map,icon: iconBase, opacity: 0 });
var marker27  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0740404,-116.587176  ),  title: "  Palomar-Julian  ",  map: map,icon: iconBase, opacity: 0 });
var marker28  = new google.maps.Marker({  position: new google.maps.LatLng( 33.3033679,-116.9814167 ),  title: "  Pauma ",  map: map,icon: iconBase, opacity: 0 });
var marker29  = new google.maps.Marker({  position: new google.maps.LatLng( 32.9967799,-117.0124775 ),  title: "  Poway ",  map: map,icon: iconBase, opacity: 0 });
var marker30  = new google.maps.Marker({  position: new google.maps.LatLng( 33.0253775,-116.8255691 ),  title: "  Ramona  ",  map: map,icon: iconBase, opacity: 0 });
var marker31  = new google.maps.Marker({  position: new google.maps.LatLng( 33.1344508,-117.1703079 ),  title: "  San Marcos  ",  map: map,icon: iconBase, opacity: 0 });
var marker32  = new google.maps.Marker({  position: new google.maps.LatLng( 33.226128,-117.0206735  ),  title: "  Valley Center ",  map: map,icon: iconBase, opacity: 0 });
var marker33  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6317664,-117.0208791 ),  title: "  Chula Vista ",  map: map,icon: iconBase, opacity: 0 });
var marker34  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6926616,-117.2063  ),  title: "  Coronado  ",  map: map,icon: iconBase, opacity: 0 });
var marker35  = new google.maps.Marker({  position: new google.maps.LatLng( 32.669864,-117.0895853  ),  title: "  National City ",  map: map,icon: iconBase, opacity: 0 });
var marker36  = new google.maps.Marker({  position: new google.maps.LatLng( 32.5841728,-117.0429),  title: "  South Bay ",  map: map,icon: iconBase, opacity: 0 });
var marker37  = new google.maps.Marker({  position: new google.maps.LatLng( 32.6349965,-117.0846095 ),  title: "  Sweetwater  ",  map: map,icon: iconBase, opacity: 0 });
} //end initialize function


function toggleHeatmap() {
  heatmap.setMap(heatmap.getMap() ? null : map);
}

function changeGradient() {
  var gradient = [
    'rgba(0, 255, 255, 0)',
    'rgba(0, 255, 255, 1)',
    'rgba(0, 191, 255, 1)',
    'rgba(0, 127, 255, 1)',
    'rgba(0, 63, 255, 1)',
    'rgba(0, 0, 255, 1)',
    'rgba(0, 0, 223, 1)',
    'rgba(0, 0, 191, 1)',
    'rgba(0, 0, 159, 1)',
    'rgba(0, 0, 127, 1)',
    'rgba(3, 0, 191, 1)',
    'rgba(27, 0, 163, 1)',
    'rgba(41, 0, 131, 1)',
    'rgba(55, 0, 10, 1)'
  ]
  heatmap.set('gradient', heatmap.get('gradient') ? null : gradient);
}

function changeRadius() {
  heatmap.set('radius', heatmap.get('radius') ? null : 42);
}

function changeOpacity() {
  heatmap.set('opacity', heatmap.get('opacity') ? null : 0.85);
}

google.maps.event.addDomListener(window, 'load', initialize);

    </script>
      <script>changeGradient()</script>
  </head>

  <body>
    <div id="panel">
      <button onclick="toggleHeatmap()">Toggle Heatmap</button>
      <button onclick="changeGradient()">Change gradient</button>
      <button onclick="changeRadius()">Change radius</button>
      <button onclick="changeOpacity()">Change opacity</button>
    </div>
    <div id="map-canvas"></div>
  </body>

</html>