.domain{opacity:0.1}
.mediumfont{
  font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight:lighter;
}
#highcharts-0 svg g g rect{
stroke:none;
fill:rgb(91, 166, 239);
}
g.highcharts-axis{
display:none;

}
.backimage{

    -webkit-transform-style: preserve-3d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;

  transition: .4s;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

}



.backimage:hover{

    transform: scale(1.05);
    opacity:0.95;
      transition: .4s;
}
g.highcharts-legend{

  display:none;
}
#highcharts-0 svg g text{
  color:#fff;
}
g.highcharts-grid{
  display:none;
}
.noTextDec{

  text-decoration:none;
  border:none;
}
.noTextDec:hover, .noTextDec:focus, .noTextDec:active{

  text-decoration:none;
    border:none;
}


.fontfamily{

    font-family: "Roboto Slab","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: lighter;
    color:#000;
}

.nopadding{
  padding: 0;
  margin: 0;
}
  @-webkit-keyframes shine {
    0%{
      opacity: 0.1;
      background-position: 50px top;
    }
    30% { opacity: 1; }
    50%, 100%{
      opacity: 0.2;
      background-position: -500px 0;
    }
  }

  @keyframes shine {
    0%{
      opacity: 0.1;
      background-position: 50px top;
    }
    30% { opacity: 1; }
    50%, 100%{
      opacity: 0.2;
      background-position: -500px 0;
    }
  }

  @-webkit-keyframes bobbing {
    0%{
      -webkit-transform: rotate(0) translateY(0);
    }
    100%{
      -webkit-transform: rotate(1deg) translateY(5px);
    }
  }

  @keyframes bobbing {
    0%{
      -webkit-transform: rotate(0) translateY(0);
      transform: rotate(0) translateY(0);
    }
    100%{
      -webkit-transform: rotate(0.1deg) translateY(5px);
      transform: rotate(0.1deg) translateY(5px);
    }
  }

  @-webkit-keyframes spin {
    0%{
      -webkit-transform: rotate(0);
    }
    100%{
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes spin {
    0%{
      -webkit-transform: rotate(0);
      transform: rotate(0);
    }
    100%{
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }

  @-webkit-keyframes thingy {
    0%{
      -webkit-transform: translateX(0);
      width: 0;
      opacity: 0;
    }
    10%{
      width: 10%;
      opacity: 1;
    }
    30%, 100%{
      -webkit-transform: translateX(-250px);
      width: 0;
      opacity: 0;
    }
  }

  @keyframes thingy {
    0%{
      -webkit-transform: translateX(0);
      transform: translateX(0);
      width: 0;
      opacity: 0;
    }
    10%{
      width: 10%;
      opacity: 1;
    }
    30%, 100%{
      -webkit-transform: translateX(-250px);
      transform: translateX(-250px);
      width: 0;
      opacity: 0;
    }
  }

  @-webkit-keyframes shadow {
    0%{
      -webkit-transform: scale(1);
    }
    100%{
      -webkit-transform: scale(1.01);
    }
  }

  @keyframes shadow {
    0%{
      -webkit-transform: scale(1);
      transform: scale(1);
    }
    100%{
      -webkit-transform: scale(1.01);
      transform: scale(1.01);
    }
  }

  .truck-container {
    background: #44dbae;
    margin: 20px 0;
    padding: 20px;
  }

  .truck {
    width: 90%;
    max-width: 500px;
    margin: 100px auto;
    position: relative;
  }

  .truck * {
    position: absolute;
  }

  .wheel,
  .wheel:after,
  .wheel:before {
    bottom: -20%;
    width: 12.8%;
    height: 46.38%;
    border-radius: 100%;
    background: #1e2327;
  }

  .wheel {
    left: 21.5%;
    -webkit-animation: spin 0.4s infinite linear;
    animation: spin 0.4s infinite linear;
  }

  .wheel.front {
    left: 82%;
  }

  .wheel:after,
  .wheel:before {
    content: "";
    position: absolute;
    display: block;
    top: 20%;
    left: 20%;
    width: 60%;
    height: 60%;
  }

  .wheel:before {
    background: #aaa;
  }

  .wheel:after {
    top: 40%;
    left: 40%;
    width: 20%;
    height: 20%;
  }

  .body {
    width: 100%;
    position: relative;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-animation: bobbing 0.2s infinite ease-in-out forwards alternate;
    animation: bobbing 0.2s infinite ease-in-out forwards alternate;
  }

  .frame {
    position: relative;
  }

  .truck img {
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    margin: 0;
  }

  .shine {
    width: 67%;
    height: 37%;
    background: #222;
    left: 9%;
    top: 6%;
    -webkit-transform: skew(33deg, 1deg);
    -ms-transform: skew(33deg, 1deg);
    transform: skew(33deg, 1deg);
    border-radius: 56px 100px 20px 0;
    background: -webkit-gradient(linear, left top, right top, color-stop(76%, transparent), color-stop(78%, rgba(255,255,255,0.8)), color-stop(96%, rgba(255,255,255,0.8)), color-stop(98%, transparent));
    background: -webkit-linear-gradient(left, transparent 76%, rgba(255,255,255,0.8) 78%, rgba(255,255,255,0.8) 96%, transparent 98%);
    background: linear-gradient(to right, transparent 76%, rgba(255,255,255,0.8) 78%, rgba(255,255,255,0.8) 96%, transparent 98%);
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

    -webkit-animation: shine 3s infinite ease forwards;
    animation: shine 3s infinite ease forwards;
  }

  .speed-thingy {
    position: absolute;
    width: 20px;
    border-radius: 10px;
    height: 5%;
    background: #fff;
    top: -10%;
    left: 50%;
    -webkit-animation: thingy 3s infinite ease forwards;
    animation: thingy 3s infinite ease forwards;
  }

  .speed-thingy.second {
    top: 50%;
    left: 30%;
    -webkit-animation-delay: 0.1s;
    animation-delay: 0.1s;
  }

  .shadow {
    width: 90%;
    border-radius: 100%;
    height: 20px;
    bottom: -25%;
    left: 5%;
    background: rgba(0,0,0,0.1);
    -webkit-animation: shadow 0.2s infinite ease-in-out forwards alternate;
    animation: shadow 0.2s infinite ease-in-out forwards alternate;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
  }

  .not-animated {
    -webkit-animation: none;
    animation: none;
  }

  .truckAnimation {

    -webkit-animation: mymove 8s infinite;  /* Chrome, Safari, Opera */
    -webkit-animation-timing-function: linear;  /* Chrome, Safari, Opera */
    animation: mymove 8s infinite;
    animation-timing-function: linear;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
    from {left: 0px;}
    to {left: 70%;}
}

@keyframes mymove {
    from {left: 0px;}
    to {left: 70%;}
}
div#map-canvas>div.gm-style>div>a>div>img{display:none;}


      div>pp>#map-canvas * {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .gm-style .gm-inset-light {
        display:none
      }
      html, body, #map-canvas*{
  width: 100%;
  height: 100%;
}

.label {
  box-sizing:border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border:5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
}

/* ANIMATIONS */
@-webkit-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
     
.clock {
  position: relative;
  height: 200px;
  width: 200px;
  background: white;
  box-sizing: border-box;
  border-radius: 100%;
  border: 10px solid #67D2C8;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}
.clock .top {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.clock .right {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto 0;
}
.clock .bottom {
  position: absolute;
  width: 3px;
  height: 8px;
  background: #262626;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0 auto;
}
.clock .left {
  position: absolute;
  width: 8px;
  height: 3px;
  background: #262626;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto 0;
}
.clock .center {
  height: 6px;
  width: 6px;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #262626;
  border-radius: 100%;
}
.clock .shadow {
  height: 200px;
  width: 200px;
  position: absolute;
  left: 60px;
  top: 60px;
  transform: rotate(135deg);
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.1));
}
.clock .hour {
  width: 3px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 60s infinite linear;
}
.clock .hour:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 60px;
  width: 3px;
  top: 30px;
}
.clock .minute {
  width: 1px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 30s infinite linear;
}
.clock .minute:before {
  position: absolute;
  content: "";
  background: #262626;
  height: 40px;
  width: 1px;
  top: 50px;
}
.clock .second {
  width: 2px;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  animation: time 15s infinite linear;
}
.clock .second:before {
  position: absolute;
  content: "";
  background: #fd1111;
  height: 45px;
  width: 2px;
  top: 45px;
}
.individual{
  width: 6vw;
  height: 6vh;
  margin: 0 0 0 0;
  border: 0;
  margin-top: 0px;
  margin-bottom: 0px;
}

#peopleDaily{
  width: 65vw;
  float: right;
  margin-top:-13vh;

}
#drunkDriving{

 margin-top: 55vh;
 text-align: center;
 margin-left: 0vw;
 width: 30vw;
}

#dailyDeath{
  width: 20vw;
  position: top;
}
#peopleDaily { font-size: 0; }
#peopleDaily img { opacity: 0; }
@keyframes time {
  to {
    transform: rotate(360deg);
  }
}
.bacc{
    -webkit-transform-style: preserve-3d;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
  display: block;
  height: 100%;
  overflow: hidden;

  transition: .4s;
  width: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.bacc:hover{
opacity:0.9;
 transform:scale(1.3);
    -ms-transform:scale(1.3); /* IE 9 */
    -moz-transform:scale(1.3); /* Firefox */
    -webkit-transform:scale(1.3); /* Safari and Chrome */
    -o-transform:scale(1.3); /* Opera */
}
.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
}
.page-header {
  margin: 0 auto 30px;
  padding: 0;
  width: auto;
  background-color: #1abc9c;
    border: none;
    overflow: hidden;
}
.page-header h1 {
  font-size: 24px;
}
.entry-title {
  text-transform: uppercase;
  font-size: 46px;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 1.4em;
  color: #1abc9c;
  text-align:center;
    padding: 1em 0;
}

header h1{
  color: #fff;
  font-size: 18px;
  letter-spacing: .1rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #f5f5f5;
  border: 10px solid #1abc9c;
  padding: 10px;
  margin: 0;
  width: auto;
  display: block;
}
.page-header a {
  color: #fff;
}

@media (max-width: 979px) and (min-width: 768px){
.imageSec {
  /*width: 724px;*/
}
}

@media (min-width: 750px) {

  .paddingem{

    padding:0 5em;
  }

}

@media (max-width: 749px) {

  .paddingem{

    padding:0 2em;
  }
}
.hoverGreen{
  padding:5px 0;
  text-decoration: none;
  border:none;
}
.hoverGreen:hover,.hoverGreen:active,.hoverGreen:visited{background:rgb(23, 148, 124);
text-decoration: none;
border:none;
}


.hoverBlue:hover,.hoverBlue:active,.hoverBlue:visited{background:#2F4157;
text-decoration: none;
border:none;
}
div#geochart-colors>div>div{
 margin:0 auto

}



        div>pp>#map-canvas * {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      .gm-style .gm-inset-light {
        display:none
      }
      html, body, #map-canvas*{
  width: 100%;
  height: 100%;
}

.label {
  box-sizing:border-box;
  background: #05F24C;
  box-shadow: 2px 2px 4px #333;
  border:5px solid #346FF7;
  height: 20px;
  width: 20px;
  border-radius: 10px;
  -webkit-animation: pulse 1s ease 1s 3;
  -moz-animation: pulse 1s ease 1s 3;
  animation: pulse 1s ease 1s 3;
}

/* ANIMATIONS */
@-webkit-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
 40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulse {
  40% {
    -webkit-transform: scale(2);
    -moz-transform: scale(2);
    transform: scale(2);
  }

  100% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    transform: scale(1);
  }
}


/* ============================================================
  GLOBAL
============================================================ */
.effects {
  padding-left: 15px;
}
.effects .img {
  position: relative;
  float: left;
  margin-bottom: 5px;

  overflow: hidden;
}

.effects .img:nth-child(n) {
  margin-right: 5px;
}
.effects .img:first-child {
  margin-left: -15px;
}
.effects .img:last-child {
  margin-right: 0;
}
.effects .img:nth-child(n) img {
  display: block;
  margin: 0;
  padding: 0;
  max-width: 100%;
  height: auto;
}

.overlay:nth-child(n){
  display: block;
  position: absolute;
  z-index: 20;
  background:rgba(18, 94, 181, 0.9);
  overflow: hidden;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

a.close-overlay {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 100;
  width: 45px;
  height: 45px;
  font-size: 20px;
  font-weight: 700;
  color: #fff;
  line-height: 45px;
  text-align: center;
  background-color: #000;
  cursor: pointer;
}
a.close-overlay.hidden {
  display: none;
}

a.expand2 {
  display: block;
  position: absolute;
  z-index: 100;
  width: 60px;
  height: 60px;
  border: solid 5px #fff;
  text-align: center;
  color: #fff;
  line-height: 50px;
  font-weight: 700;
  font-size: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

/* ============================================================
  EFFECT 6 - ICON BOUNCE IN
============================================================ */
#effect-6 .overlay {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
}
#effect-6 .overlay a.expand2 {
  left: 0;
  right: 0;
  top: 0;
  margin: 0 auto;
  -webkit-transition: 0.5s;
  -moz-transition:  0.5s;
  -o-transition:  0.5s;
  transition:  0.5s;
}
#effect-6 .img.hover .overlay {
  opacity: 1;
}
#effect-6 .img.hover .overlay a.expand2 {
  top: 50%;
  margin-top: -30px;
  opacity: 1;
}



.quote {
    position:relative;
    width:65vw;
    padding:15px 25px 20px;
    margin:20px auto;
    margin-top: 50vh;
    font:italic 26px/1.4 Georgia, serif;
    color:#fff;
    background:#245991;
}

.quote:after {
    content:"";
    position:absolute;
    top:100%;
    right:25px;
    border-width:30px 30px 0 0;
    border-style:solid;
    border-color:#245991 transparent;
    /* css3 extras */
    -webkit-transform:skewX(-15deg);
       -moz-transform:skewX(-15deg);
        -ms-transform:skewX(-15deg);
         -o-transform:skewX(-15deg);
            transform:skewX(-15deg);
}

.credit {
    margin:1em 0 0;
    font:14px/1.2 Arial, sans-serif;
}

.credit:before {
    content:"— ";
}

blockquote, p {padding:0; margin:0;}







     html,
      body,
      #map-canvas {
        height: 100%;
        margin: 0px;
        padding: 0px
      }
      #panel {
        position: absolute;
        top: 5px;
        left: 65%;
        margin-left: -80px;
        z-index: 5;
        background-color: #fff;
        padding: 5px;
        border: 1px solid #999;
      }
      * {
        box-sizing: none;
      }
      #map {
        width: 400px;
        height: 300px;
        border: 1px solid black;
      }
      #legend {
        position: relative;
        width: 400px;
        height: 30px;
        margin-top: 10px;
      }
      #legendGradient {
        width: 100%;
        height: 15px;
        border: 1px solid black;
      }

  #map { position:absolute; left:5vw; top:15vh; bottom:0; width:45vw; height:80vh; border:none;}
  #panel{ position:absolute;right:10vw; top:15vh; bottom:0; width: 35vw; height: 79vh;
    border-radius: 5px; border:none;background-color:  transparent;}
  .legend {
    line-height: 18px;
    color: #555;
}
.legend i {

    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
      width: 10vh;
}

.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}



